    <!-- Feature page-->
<div id="community" class="page color-1">
    <div class="inner-page">
        <h2 class="page-headline">Community</h2>
        <div class="row centered">
            <br />
            <br />
            <div class="col-md-4 lazy-container" style="min-height: 0">
                <img class="lazy centered" style="-webkit-box-shadow: 5px 5px 5px #000; -ms-box-shadow: 5px 5px 5px #000; box-shadow: 5px 5px 5px #000" alt="ashic_zeromq" src="/img/pixel.png" data-original="/img/custom/ashic_zeromq.jpg" />
                <br />
            </div>
            <p class="col-md-8 justify">
                Over the years, I've learnt a lot - and am still learning from - the wider software engineering community. I try my best to reciprocate, and enjoy
                doing so. I speak at various user groups like NxtGenUG (and it's many offshoot divisions), Canary Wharf Dot Net User Group, Skillsmatter, etc. I also
                present at various conferences - from local DDD ones, Skillsmatter Progressive .NET, etc. to international ones like Oredev, NDC, etc. I've also
                presented at a few online conferences, like aspConf, mvcConf, Virtual Techdays, etc. I'm the founder of the London ZeroMQ User Group, and we meet every couple
                of months (or so), and build something hands-on with ZeroMQ. I'm a moderator and "all star" of the official ASP.NET community at <a class="fa fa-external-link vivid-link" href="http://www.asp.net">asp.net</a>,
                and have been an ASP.NET / IIS MVP since 2009. I often write for various technical magazines, and of course, on my blog.
            </p>
        </div>
    </div>
    <div class="inner-page row container">
        @{ Html.RenderAction("LatestPosts", "Article"); }
    </div>

    <div class="inner-page row container">
        <h3 class="text-center">Some Online Talks</h3>
        <hr />
        <div class="col-md-4">
            <h4 class="text-center">CQRS and Event Sourcing with MVC 3 at mvcConf 2</h4>
            <p class="btn-container figurette">
                <a class="lightbox iframe btn-play" style="position:inherit" target="_blank" href="http://channel9.msdn.com/Series/mvcConf/mvcConf-2-Ashic-Mahtab-CQRS-and-Event-Sourcing-with-MVC-3/player?h=540&w=960"><i class="fa fa-play"></i></a>
            </p>
        </div>
        
        <div class="col-md-4">
            <h4 class="text-center">CQRS with ASP.NET MVC - A Year On at aspConf</h4>
            <p class="btn-container figurette">
                <a class="lightbox iframe btn-play" style="position:inherit" target="_blank" href="http://channel9.msdn.com/Events/aspConf/aspConf/CQRS-with-ASP-NET-MVC-A-Year-On/player?h=540&w=960"><i class="fa fa-play"></i></a>
            </p>
        </div>

        <div class="col-md-4">
            <h4 class="text-center">Understanding Monads with JavaScript at aspConf</h4>
            <p class="btn-container figurette">
                <a class="lightbox iframe btn-play" style="position:inherit" target="_blank" href="http://channel9.msdn.com/Events/aspConf/aspConf/Understanding-Monads-with-JavaScript/player?h=540&w=960"><i class="fa fa-play"></i></a>
            </p>
        </div>
        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


    </div>
</div>
