<div id="hsft" class="page color-1">
    <div class="inner-page">
        <h2 class="page-headline large">Complexity => Simplicity</h2>
    </div>
    <div class="row inner-page centered">

        <div class="col-md-4 col-md-push-8">
            <!-- <blockquote><p>The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. The second is that automation applied to an inefficient operation will magnify the inefficiency.</p><p><small>Bill Gates</small></p></blockquote> -->
            <h3 class="text-center">Need help delivering working software, or taking advantage of today's technology?</h3>
            <a href="mailto:ashic@heartysoft.com" title="Get Int Touch" class="btn btn-success btn-centered"><i class="fa fa- fa-mail-reply"></i> Get In Touch</a>
            <br />
        </div>
        <div class="col-md-4 lazy-container" style="min-height: 0"> 
            <img class="lazy centered" style="-webkit-box-shadow: 5px 5px 5px #000; -ms-box-shadow: 5px 5px 5px #000; box-shadow: 5px 5px 5px #000" alt="Looks great on every device" src="/img/pixel.png" data-original="/img/custom/ZeroMQLondon.jpg" />
            <br />
        </div>
        <div class="col-md-4 col-md-pull-8">
            <ul class="big-list">
                <li><i class="fa fa-check"></i> Consulting<br /></li>
                <li><i class="fa fa-check"></i> Programming<br /></li>
                <li><i class="fa fa-check"></i> Training<br /></li>
                <li><i class="fa fa-check"></i> Learning<br /></li>

                <!-- <li><i class="fa fa-check"></i> Consulting</li>
                    <li><i class="fa fa-tablet"></i> Development</li>
                    <li><i class="fa fa-cloud"></i> Training</li>
                    <li><i class="fa fa-cog"></i> Built with LESS</li> -->
            </ul>
           <!--  <a href="#features" title="Check out more freatures!" class="scroll btn btn-primary btn-centered"><i class="fa fa-caret-down"></i> Learn more</a> -->
            <br />
        </div>
    </div>
    <div class="row centered">
        <p> 
            <ul class="container">
                <li class="col-md-4">
                    <a href="#services" title="Services" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Services</a>
                </li>

                <li class="col-md-4">
                    <a href="#technology" title="Technology" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Technology</a>
                </li>

                <li class="col-md-4">
                    <a href="#community" title="Community" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Community</a>
                </li>
            </ul>
        </p>
    </div>
    <br />
    <br />


    <!-- Sign up --> 
    <div class="color-2">
        <div class="row inner-page">
            <div class="col-md-12 reference">
                <blockquote>
                    <p>"In those two days Ashic provided the technical foundation upon which we were able to build a business critical platform. His dedication and personable nature made him the ideal collaborator."</p>
                    <p><small>Jeremy Langworthy [Technology Director, ATG Media]</small></p>
                </blockquote>
                <!-- <a href="#features" class="scroll btn btn-primary pull-right" title="Check out more freatures!"><i class="fa fa-caret-down"></i> Scroll down</a> -->
            </div>
        </div>
    </div> <!-- /.sign-up --> 

</div>

    
