    <!-- Feature page-->
<div id="services" class="page color-4">
    <div class="inner-page">
        <h2 class="page-headline">What I can do for you</h2>
        <div class="row centered">
            <br />
            <br />
            <p>
                <ul class="container">
                    <li class="col-md-4">
                        <a href="#consulting" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Consulting</a>
                    </li>

                    <li class="col-md-4">
                        <a href="#contract" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Contract Programming</a>
                    </li>

                    <li class="col-md-4">
                        <a href="#training" class="scroll btn btn-primary centered"><i class="fa fa-caret-down"></i> Training</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div id="consulting" class="page color-3">
    <div class="inner-page text-center">
        <h3>Consulting</h3>
        <hr />
        <div class="row centered">
            <p>
                I provide a variety of consulting services. Consults usually take 2-10 days.
            </p>
        </div>
        <div class="row container">
            <ul class="col-md-offset-3 col-md-6 justify">
                <li><b class="fa fa-check"></b>&nbsp;I can help analyse your systems and pratices, and provide strategic and tactical guidance.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help you adopt engineering practices that enable you deliver value at a sustainable pace.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can review your architecture, identify potential issues, and help resolve them.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help make sense of agile and lean methodologies, in case your attempts of adopting agile have not had the expected results.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help improve the performance, resilience, and scalability of your software.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help you prototype potential solutions quickly and efficiently, using multiple approaches.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help you gradually move off legacy monolithic systems, avoiding risky big-bang approaches.</li>
                <li><b class="fa fa-check"></b>&nbsp;I can help in the adoption of modern <a href="#technology" class="scroll">technology</a>.</li>
            </ul>
        </div>
    </div>
</div>

<div id="contract" class="page color-4">
    <div class="inner-page text-center">
        <h3>Contract Programming</h3>
        <hr />
        <div class="row centered">
            <p>
                I can work onsite or remotely to help deliver software solutions.
            </p>
        </div>
        <div class="row container">
            <ul class="col-md-offset-3 col-md-6 justify">
                <li><b class="fa fa-check"></b>&nbsp;I prefer to take ownership for technical delivery, and lead software teams.</li>
                <li><b class="fa fa-check"></b>&nbsp;I help with architecture - evaluating suitability of approaches based on project needs.</li>
                <li><b class="fa fa-check"></b>&nbsp;I get involved with every stage of software development.</li>
                <li><b class="fa fa-check"></b>&nbsp;I help identify potential risks early, and take steps to mitigate them.</li>
                <li><b class="fa fa-check"></b>&nbsp;I am always hands on.</li>
                <li><b class="fa fa-check"></b>&nbsp;I avoid roles where bureaucracy trumps tangible output.</li>
                <li><b class="fa fa-check"></b>&nbsp;I work with a range of <a href="#technology" class="scroll">technologies</a>.</li>
            </ul>
        </div>
    </div>
</div>


<div id="training" class="page color-3">
    <div class="inner-page text-center">
        <h3>Training</h3>
        <hr />
        <div class="row centered">
            <br />I have developed a few training courses that can help you make the most out of the corresponding technologies.
        </div>
        <div id="courses" class="justify">
            <h3>DDD, CQRS, Event Sourcing</h3>
            <p>The three day course coverse the basics needed to get you up and running with Domain Driven Design, Command Query Responsibility Segregation, Event Sourcing and related concepts. The course is a mixture of interactive lectures and hands on exercises. The course is targeted at developers and architects who are looking to build efficient, maintainable, raliable software. It will give you enough information to use these approaches, and make informed decisions as to which trade-offs to make, and when.</p>

            <h3>Advanced DDD, CQRS, ES</h3>
            <p>This is a five day course that delves deeper into implementation approaches, and messaging principles. In addition to covering the basics, this course also focuses on implementation challenges that teams using DDD, CQRS, and / or Event Sourcing typically face. We go in depth into exploring those problems, and present potential solutions in solving them. This course is also targeted at developers and architects. Whether you want to start off with deeper knowledge, or are having trouble after having adopted these approaches, this course should help.</p>

            <h3>Messaging Principles with ZeroMQ</h3>
            <p>This is a three day hands on course exploring core messaging principles using ZeroMQ. We first discuss the basics of ZeroMQ, and fundamental principles like Request-Response, Pub-Sub, Task Distribution, etc. We then move on to more advanced concepts like reliability, availability, fault tolerance, brokered and brokerless messaging, etc. We also explore ZeroMQ's versatility in terms of cross platform, cross language interoperability. We design appropriate protocols ourselves, and see how we can bend Zero to our will. The course is targeted at developers and architects who work with high throughput, distributed messaging systems, and / or are looking for better ways of integrating different services and applications.</p>

            <h3>Agile Software Engineering</h3>
            <p>In this five day course, you will learn the fundamental practices of agile software engineering. This is not about planning poker, sprint planning, scrum masters, etc. Instead this focuses on practical hands on exercises that target the fundamental skills to succeed with agile methodologies (and software development in general). During the course, we will cover distributed version control, build scripts, continuous integration, automated testing, TDD, BDD, acceptance testing, refactoring, deployment, continuous delivery, etc. We will cover tools including Git, Team City, Vagrant, etc. The course is geared towards developers and hands on architects.</p>

            <h3>Fasttrack to Git</h3>
            <p>This is a two day course, you will go through a series of practical exercises that will cover enough of Git to make you not only competent, but also confidence in using Git. We will cover the basics like commits, branching, merging, rebasing, remotes, etc. We will explore time saving ways of doing common day to day activities. We will then go deeper into some advanced and hidden features. We will evaluate various workflows, branching strategies, etc. We will also cover using Git in continuous integration, and where and how it can be leveraged in the deployment pipeline.</p>
        </div>
    </div>
</div>


<!-- /#features -->
