
<div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
       <!--  <li class="active dropdown">
            <a title="HSFT" class="scroll brand-1 dropdown-toggle" data-toggle="dropdown" href="#"><b class=" fa fa-caret-down"></b>&nbsp;&nbsp;HSFT</a>
            <ul class="dropdown-menu">
                <li><a href="#hsft" class=" scroll">Home</a></li>
                <li><a href="#services" class=" scroll">Services</a></li>
                <li><a href="#technology" class=" scroll">Technology</a></li>
                <li><a href="#community" class=" scroll">Community</a></li>
            </ul>
        </li> -->


        <li class="active"><a title="Home" href="#hsft" class=" scroll brand-4">HSFT</a></li>
        <li><a title="Services" href="#services" class=" scroll brand-1">Services</a></li>
        <li><a title="Technology" href="#technology" class=" scroll brand-3">Technology</a></li>
        <li>
            <a  title="Community"
                href="#community"
                class=" scroll brand-2">Community
            </a>
        </li>
         <li>
            <a title="Blog"
               href="/ashic/blog"
               class=" scroll brand-4">
                Blog
            </a>
        </li>

    </ul>
</div>


