
{{ partial "header.html" "blog" }}

{{ partial "blog/latest-posts.html" . }}

<div id="archive" class="page color-4">
    <div class="row inner-page centered">
        <h3 class="text-center">Archive</h3>
        <hr />
        <!--@if (ViewBag.ShowArchiveLink == true)
        {
            <div class="archive-link col-md-12 container">
                <div class="col-md-offset-8 col-md-4">
                    <a href='@Url.Action("Index", "Article", new{author = Model.Articles.First().Author})#archive'>Show All</a>
                </div>
            </div>
        }-->

        <ul>
            <!--@foreach (var article in Model.Articles)-->
            {{ range $article := .Data.Pages }}
                <li class="col-md-12 container">
                    <div class="col-md-8">
                        <a href="{{ $article.Permalink }}">
                            <p>
                                <h4>{{ $article.Title }}</h4>
                                {{ $article.Date.Format "02-01-2006" }}

                            </p>
                        </a>
                    </div>
                     <div class="col-md-4">
                        <ul class="tag-links">
                            {{range $t := $article.Params.tags }}
                                {{if (and (ne $t "blog") (ne $t "news") ) }}
                                    <li>
                                        <a href="/tags/{{replace $t "#" "%23" | urlize}}/">{{ $t }}</a>
                                    </li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
               </li>
            {{ end }}

        </ul>
    </div>
</div>


{{ partial "footer.html" }}
